body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%; /* Harita genişliği ayarı */
}

#legend {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: sans-serif;
    width: 15%; /* Legend genişliği ayarı */
}

#legend h3 {
    margin-top: 0;
}

#legend ul {
    list-style-type: none;
    padding-left: 0;
}

#legend li {
    margin-bottom: 8px;
}

#legend a {
    text-decoration: none;
    color: #0074D9;
    cursor: pointer;
}

#legend a:hover {
    text-decoration: underline;
}

#resetButton {
    background-color: #FF4136;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #FF6347;
}
